<p id="notice"><%= notice %></p>

<p>
  <strong>Location code:</strong>
  <%= @answer.location_code %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'View all answers', answers_path %>
