<!DOCTYPE html>
<html>
  <head>
    <title>LocationPickerRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/accessible-typeahead@0.3.1/examples/styled.css" />
  </head>

  <body>
    <%= yield %>
    <script src="https://unpkg.com/accessible-typeahead@0.3.1"></script>
  </body>
</html>
